<html>
	<head>
		<meta charset="UTF-8"/>
		<link href="estilo.css" type="text/css" rel="stylesheet">
	</head>
	
	<body>
		<h1 id="texto">teste de transcrição</h1>
		
		<br/>
		
		<div>
			<div><h2>Salvo no banco:</h2></div>
			<div id="textoCorrido">
			</div>
		</div>
		<script src="transcreverDireto.js"></script>
	</body>
		
	
</html>