#header{
background-color: #72839D;
}

#cabecalho{
float:left;
margin-left: 1%;
color: white;
}

#nav{
margin-right: 5%;
}

.botao{
background-color: #72839D;
border: none;
color: white;
font-size: 13px;
cursor: pointer;
}

#main{
margin-right: 5%;
margin-left: 5%;
color: navy;
margin-top: 3%;
}

#materia{
color: #2F5387;
}

#nome{
float: left;
text-transform: uppercase;
font-size: 23px;
}

#data{
font-size: 20px;
}

#det_materia{
background-color: #BCD4F8;
text-align: center;
font-size: 18px;
height: 60px;
margin-top: 3%;
margin-bottom: 3%;
padding-top: 3%;
}

.detalhe{
color: gray;
}

#transc{
font-size: 40px;
margin-bottom: 3%;
}

#frases_container{
border-style: solid;
border-width: 2px;
border-color: #083A77;
border-radius: 16px;
resize: both;
overflow: auto;
}

#first{
background-color: #BCD4F8;
}

.left{
float: left;
text-align: center;
border-right-style: dashed;
border-color: #889BBB;
width: 6%;
}

.right{
padding-left: 10%;
}

#impar{
background-color: #D6DEE9;
}

.button{
border-radius: 50%;
background-color: #BCD4F8;
border: none;
padding: 5px 10px 5px 10px;
display: inline-block;
margin-top: 3%;
cursor: pointer;
}

#aside{

}
