<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="UTF-8">
		<title>Transcritor</title>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
		<!--<link rel="stylesheet" href="libs/angular-material/angular-material.min.css" media="screen" title="Angular Material CSS" charset="utf-8" /> -->
		<link rel="stylesheet" href="estilo.css" title="Estilo" charset="utf-8" />
	</head>
	<body id="body">
		<header id="header">
			<div id="cabecalho">
			PSW {1502}
			</div>
			<div id="nav" align="right">
				<button ng-click="$mdOpenMenu()" class="botao">
					Cadastro
				</button>
				<button ng-click="$mdOpenMenu()" class="botao">
					Aulas
				</button>
				<button ng-click="$mdOpenMenu()" class="botao">
					Configurações
				</button>
				<button ng-click="$mdOpenMenu()" class="botao">
					Sair
				</button>
			</div>
		</header>
		<div id="main" ng-app="myApp" ng-controller="transcritorController">
			<md-content layout-align="start" style="height:100%; overflow:hidden;" >
				<md-toolbar id="materia">
					<b>
					<div id="nome"> Projeto de Software Web </div>
					<div id="data" align="right"> 20/11/2015 </div>
					</b>
				</md-toolbar>
				<hr color=#2F5387 size=2>
				<div id="det_materia">
					Professor: <text class="detalhe"> André Neves </text>
					Disciplina: <text class="detalhe"> PSW </text>
					Turno: <text class="detalhe"> Noite </text>
					Período: <text class="detalhe"> 4º </text>
				</div>
				<div id="transc" align="center">
					Transcrição de fala
				</div>
				<!-- Container da transcrição -->
				<div id="frases_container">
						<div id="first" class="left" style="border-right-style: none;"> Hora </div>
						<div id="first" style="padding-left: 14%;"> Texto </div>
						<div class="left"> 19:00:03 </div>
						<div class="right"> Boa noite senhores tudo bem com voces </div>
						<div id="impar" class="left"> 19:00:55 </div>
						<div id="impar" class="right"> Hoje iremos ver diagramas de caso de uso e</div>
						<div class="left"> 19:01:09 </div>
						<div class="right"> Sei que temos pouco tempo e por isso vamos manter o foco </div>
						<div id="impar" class="left"> 19:01:46 </div>
						<div id="impar" class="right"> Antes preciso saber se alguém tem dúvidas sobre o levantamento de requisitos funcionais e não funcionais, 
						para podermos andar com o conteúdo da matéria.</div>
						<div class="left"> 19:02:05 </div>
						<div class="right"> Ótimo! </div>
						<div id="impar" class="left"> 19:02:11 </div>
						<div id="impar" class="right"> Vamos prosseguir então.</div>
				</div>
				<center>
					<button class="button">1</button>
					<button class="button">2</button>
					<button class="button">3</button>
				</center>
			</md-content>
		</div>
		<aside id="aside">
		</aside>


		<script src="libs/angular/angular.js"></script>
		<script src="libs/angular-animate/angular-animate.min.js"></script>
		<script src="libs/angular-aria/angular-aria.min.js"></script>
		<script src="libs/angular-material/angular-material.min.js"></script>


		<script src="js/app.js" ></script>
		<script src="js/controllers/transcritorController.js" ></script>
	</body>
</html>
