<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Transcritor</title>

    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="libs/angular-material/angular-material.min.css" media="screen" title="Angular Material CSS" charset="utf-8" />

</head>
<body>

    <div id="main" ng-app="myApp" ng-controller="transcritorController" style="height:100%">

        <md-content
                    layout-align="start"
                    style="height:100%; overflow:hidden;" >

            <md-toolbar >

                <div>

                    <h2 class="md-toolbar-tools"> <span>Transcritor</span></h2>

                    <md-menu-bar >
                        <md-menu>
                            <button ng-click="$mdOpenMenu()">
                                 Cadastro
                            </button>
                            <md-menu-content>
                                <md-menu-item>
                                    <md-button style="color:black;">
                                      Iniciar cadastro
                                    </md-button>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>
                            </md-menu-content>
                        </md-menu>
                        <button ng-click="$mdOpenMenu()">
                            Aulas
                        </button>

                        <button ng-click="$mdOpenMenu()">
                            Configurações
                        </button>

                        <button ng-click="$mdOpenMenu()">
                            Sair
                        </button>

                    </md-menu-bar>

                </div>

            </md-toolbar>

            <md-content layout="row" flex layout-fill>

                <!-- Container da transcrição -->

                <div id="frases_container"
                     flex="66" layout-fill

                     layout="column"
                     style="padding:10px 10px 10px 10px;
                            overflow: auto;
                            background-color: lightgray;">

                    <md-button class="md-fab md-fab-top-right" style="z-index:2 position:relative" aria-label=""
                               ng-click="toggleReconhecimento()">
                        <md-icon md-svg-src="{{buttonIcon}}" ></md-icon>
                    </md-button>



                    <md-whiteframe ng-repeat="item in frases"
                            style="margin-bottom:20px; padding:10px; background-color:white;" class="md-whiteframe-2dp">

                        <h4>{{item.dthr | date:'dd/MM/yyyy HH:mm:ss'}}</h4>
                        <div>{{ item.text}}</div>

                    </md-whiteframe>

                    <md-whiteframe style=" background-color: aquamarine"
                            ng-show="temp != null || temp != ''"
                                   class="md-whiteframe-2dp">

                        {{temp}}

                    </md-whiteframe>

                    <div id="bottom" style="height:200px; margin-bottom:200px;">

                    </div>

                </div>

                <div flex style="background-color: #2196F3" layout-fill layout="row" layout-align="right end">
                    <div postion="relative" style="height:100%;width:100%">

                    </div>

                </div>

            </md-content>

        </md-content>


    </div>


    <script src="libs/angular/angular.js"></script>
    <script src="libs/angular-animate/angular-animate.min.js"></script>
    <script src="libs/angular-aria/angular-aria.min.js"></script>
    <script src="libs/angular-material/angular-material.min.js"></script>


    <script src="js/app.js" ></script>
    <script src="js/controllers/transcritorController.js" ></script>


</body>
</html>